body {
    font-family: 'SF UI Text', 'Segoe UI', sans-serif;
    margin: 1em auto;
    max-width: 700px;
}
label {
    display: inline-block;
    margin-bottom: 0.5em;
}

input, button {
    font: inherit;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin-left: 35px;
}

a,
.ac,
.stv-expander:hover {
    color: #0084d1;
}

.stv-child-node {
    border-left: 1px dotted #ddd;
}

.stv-filtering .stv-node > .stv-label {
    color: #ccc;
}

.stv-filtering .stv-node.stv-filter-match > .stv-label,
.stv-filtering .stv-node.stv-filter-descendant-match > .stv-label {
    color: #000;
}

.stv-filter-match > .stv-label {
    background-color: #dcf5dd;
}

.stv-match-count,
.stv-select-matching {
    margin-left: 1em;
}

.stv-match-count,
.stv-select-matching {
    display: none;
}

.stv-filtering .stv-match-count,
.stv-filtering .stv-select-matching {
    display: inline-block;
}

.stv-expander {
    font-family: "Arial Unicode MS";
    font-size: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
    cursor: pointer;
}

.stv-leaf > .stv-expander {
    visibility: hidden;
}

.stv-expanded > .stv-expander::before {
    content: "\25bc"; /* black down-pointing triangle */
}

.stv-collapsed > .stv-expander::before {
    content: "\25b6"; /* black right-pointing triangle */
}

.stv-collapsed > .stv-child-list {
    display: none;
}
